.faculty_table {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.faculty_table table {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  /* padding: 10px 20px; */
}

.faculty_table table {
  border-radius: 6px;
}

.faculty_table thead {
  background-color: rgba(0, 0, 0, 0.5);
}

.faculty_table table td {
  padding: 5px 10px;
}

.faculty_table table td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.faculty_table table tr:last-of-type td {
  border-bottom: none;
}

.book_btn {
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}
